body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;   
}
#legenda{
    text-align: right;
    margin-right: 180px;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 20px;
}
header {
    background-color: #350270;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background: #333;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px white;
}

h1, h2, h3 {
    color: white;
}

.minha-foto {
    width: 400px;
    height: 200px;
    display: block;
    margin: 0 auto 20px;
    border: 4px solid #7600FF;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

.destaque {
    background-color: #FFEB3B;
    padding: 2px 5px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}