body{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: 	#282b30;
    font-family: Arial, sans-serif;
}
section{
    display: flex;
    margin-top: 100px;
}
div:not(#sa){
    margin-right: 50px;
    margin-left: 50px;
    margin: 0 auto;
    box-shadow: 1;
    transition: all 0.3s ease; 
    box-shadow: 5;
}
header{
    background-color: 	#36393e;
    margin: 0;          
    padding: 10px 0;    
    width: 100%;  
}
img:hover:not(#sobre):not(#ho){
    transform: translateY(-10px); /* Levanta levemente */
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 1px 8px black;
  }
  
  img:not(#sobre):not(#ho){
    height: auto;
    box-shadow: 0 4px 8px black;
    border-radius: 5px;
}
footer{
    
    background-color: #36393e;
    color: aliceblue;
    bottom: 0;
    
    width: 100%;
    text-align: center;
    justify-content: space-around;
    
}
#title{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 10;
    margin-top: 10;  
    margin-right: 1000px;  
    box-shadow: 1;
    background-color:#151618;
    width: 100%;
    }
#title2{
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 10;
        margin-top: 10;  
        margin-right: 1000px;  
        box-shadow: 1;
        background-color:#151618;
        width: 100%;
        }
        h3{
            color: #ffffff;
    }
    #sobre{
        width: 150px;
        margin-left: 1200px;
        position: absolute;
        justify-content: space-around;
    }
    h3{
        margin-bottom: 0;
    }