body{
    margin: 0;
    padding: 0;
    background-color: #282b30;
    font-family: Arial, sans-serif;
    
}
video{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-color: #0b0b0b;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
}
.video-container {
    max-width: 800px;
    margin: 20px auto;
  }
  section{
    display: flex;
    margin-top: 50px;}

h1{
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 20px;
}
#d1{
    margin-left: 30px ;
 
}
img{
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h2{
    color: #ffffff;
    font-size: 2.0em;
    margin-bottom: 20px;
}
h3{
    color: #ffffff;
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-left: 50px;
}
p{
    text-align: justify;

    width: 800px;
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 20px;
}
header{
    background-color: #36393e;
    margin: 0;          
    padding: 10px 0;    
    width: 100%;  
}
footer{
    
    background-color: #36393e;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    text-align: center;
}